@model IEnumerable<Terminal.WebUI.Models.CargosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h1>Cargo</h1></div>
    <div class="card-body">

        <p>
            <a onclick="AbrirModalCreate()" class="btn btn-outline-primary">Nuevo</a>
        </p>
        <table class="table" id="table" style="color: black;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.carg_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.carg_Nombre)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.carg_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.carg_Nombre)
                        </td>
                        <td>
                            <a class="btn btn-outline-warning Editar" data-id="@item.carg_ID" data-nombre="@item.carg_Nombre">Editar</a>
                            <a class="btn btn-outline-dark">Detalles</a> |
                            <button class="btn btn-outline-danger" id="btnEliminar" onclick="eliminar('@item.carg_ID')">Eliminar</button>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@Html.Partial("_Modal_Create", new Terminal.WebUI.Models.CargosViewModel())
@Html.Partial("_Modal_Edit", new Terminal.WebUI.Models.CargosViewModel())
@Html.Partial("_Modal_Delete", new Terminal.WebUI.Models.CargosViewModel())