@model IEnumerable<Terminal.WebUI.Models.ClientesModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a href="/Cliente/Create/">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.clie_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_DNI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clie_Email)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clie_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clie_Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clie_Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clie_DNI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clie_Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clie_Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clie_Email)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new {item.clie_ID}) |*@
                <a asp-action="Edit" asp-route-id="@item.clie_ID" class="btn btn-warning">Editar</a>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a asp-action="Delete" asp-route-id="@item.clie_ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
