@model IEnumerable<Terminal.WebUI.Models.BoletosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"><h1>Boletos</h1></div>
    <div class="card-body">

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.bole_ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.bole_Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.term_Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.term_DireccionExacta)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.comp_Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.bole_empl_Nombre_Completo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.bole_clie_Nombre_Completo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.clie_Sexo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hora_FechaSalida)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hora_Origen)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hora_FechaLlegada)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.hora_Destino)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.pago_Descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.bole_Precio)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.bole_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bole_Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.term_Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.term_DireccionExacta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.comp_Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bole_empl_Nombre_Completo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bole_clie_Nombre_Completo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.clie_Sexo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hora_FechaSalida)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hora_Origen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hora_FechaLlegada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hora_Destino)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.pago_Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bole_Precio)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new {item.clie_ID}) |*@
                            <a asp-action="Edit" asp-route-id="@item.bole_ID" class="btn btn-warning">Editar</a>
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            <a asp-action="Delete" asp-route-id="@item.bole_ID" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

