@model IEnumerable<Terminal.WebUI.Models.HorariosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.hora_FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_FechaLlegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_Origen_DeptoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_Destino_DeptoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hora_CantidadPasajeros)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.hora_FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_FechaLlegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_Origen_DeptoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_Destino_DeptoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora_CantidadPasajeros)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new {item.clie_ID}) |*@
                <a asp-action="Edit" asp-route-id="@item.hora_ID" class="btn btn-warning">Editar</a>
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a asp-action="Delete" asp-route-id="@item.hora_ID" class="btn btn-danger">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
