@model IEnumerable<Terminal.WebUI.Models.HorariosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="card">
        <div class="card-body">
            <h1>Horarios</h1>
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-e-margins">
                        <div class="ibox-title">
                            <div class="ibox-tools">
                                <div class="row">
                                    <div class="col-3">
                                        <p><a asp-action="Create" class="btn btn-outline-info">Nuevo Registro</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="table-responsive">
                            <table class="table text-nowrap table-striped table-hover dataTables-example" id="DataTable">
                                <thead class="bg-teal-400">
                                    <tr class="text-dark">
                                        <th class="text-dark-200"><strong>@Html.DisplayNameFor(model => model.hora_FechaSalida)</strong></th>
                                        <th class="text-dark">@Html.DisplayNameFor(model => model.hora_FechaLlegada)</th>
                                        <th class="text-dark">@Html.DisplayNameFor(model => model.hora_Origen_DeptoNombre)</th>
                                        <th class="text-dark">@Html.DisplayNameFor(model => model.hora_Destino_DeptoNombre)</th>
                                        <th class="text-dark">@Html.DisplayNameFor(model => model.hora_CantidadPasajeros)</th>
                                        <th class="text-dark">@Html.DisplayNameFor(model => model.hora_Precio)</th>
                                        <th class="text-dark">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="text-dark">
                                    @foreach (var item in Model)
                                    {
                                        <tr role="row" data-id="@item.hora_ID" class="text-dark align-text-bottom">
                                            <td class="text-dark odd">@Html.DisplayFor(modelItem => item.hora_FechaSalida)</td>
                                            <td class="text-dark even">@Html.DisplayFor(modelItem => item.hora_FechaLlegada)</td>
                                            <td class="text-dark odd">@Html.DisplayFor(modelItem => item.hora_Origen_DeptoNombre)</td>
                                            <td class="text-dark even">@Html.DisplayFor(modelItem => item.hora_Destino_DeptoNombre)</td>
                                            <td class="text-dark odd">@Html.DisplayFor(modelItem => item.hora_CantidadPasajeros)</td>
                                            <td class="text-dark even">@Html.DisplayFor(modelItem => item.hora_Precio)</td>
                                            <td class="text-dark">
                                                <a asp-action="Details" asp-route-id="@item.hora_ID" class="btn btn-outline-dark">Detalle</a> |
                                                <a asp-action="Edit" asp-route-id="@item.hora_ID" class="btn btn-outline-warning">Editar</a> |
                                                <a asp-action="Delete" asp-route-id="@item.hora_ID" class="btn btn-outline-danger">Eliminar</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot class="bg-teal-400">
                                    <tr class="text-dark">
                                        <th class="text-dark">@Html.DisplayNameFor(model => model.hora_FechaSalida)</th>
                                        <th class="text-dark">@Html.DisplayNameFor(model => model.hora_FechaLlegada)</th>
                                        <th class="text-dark">@Html.DisplayNameFor(model => model.hora_Origen_DeptoNombre)</th>
                                        <th class="text-dark">@Html.DisplayNameFor(model => model.hora_Destino_DeptoNombre)</th>
                                        <th class="text-dark">@Html.DisplayNameFor(model => model.hora_CantidadPasajeros)</th>
                                        <th class="text-dark">@Html.DisplayNameFor(model => model.hora_Precio)</th>
                                        <th class="text-dark">Acciones</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
