@model IEnumerable<Terminal.WebUI.Models.CargosViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a onclick="AbrirModalCreate()" class="btn btn-outline-primary">Nuevo</a>

<div class="card">
    <div class="card-body">
        <h1>Cargos</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="float-e-margins">
                    <div class="ibox-title">
                        <div class="ibox-tools">
                            <div class="row">
                                <div class="col-3">
                                    <p><a onclick="AbrirModalCreate()" class="btn btn-outline-info">Nuevo Registro</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="table-responsive">
                        <table class="table text-nowrap table-striped table-hover dataTables-example" id="DataTable">
                            <thead class="bg-teal-400">
                                <tr class="text-dark">
                                    <th>@Html.DisplayNameFor(model => model.carg_ID)</th>
                                    <th>@Html.DisplayNameFor(model => model.carg_Nombre)</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr role="row" data-id="@item.carg_ID" class="text-dark align-text-bottom">
                                        <td>@Html.DisplayFor(modelItem => item.carg_ID)</td>
                                        <td>@Html.DisplayFor(modelItem => item.carg_Nombre)</td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.carg_ID" class="btn btn-outline-dark">Detalle</a> |                                            
                                            <a class="btn btn-outline-warning Editar" data-id="@item.carg_ID" data-nombre="@item.carg_Nombre">Editar</a> |
                                            <button class="btn btn-outline-danger" id="btnEliminar" onclick="eliminar('@item.carg_ID')">Eliminar</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot class="bg-teal-400">
                                <tr class="text-dark">
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.carg_ID)</th>
                                    <th class="text-dark">@Html.DisplayNameFor(model => model.carg_Nombre)</th>
                                    <th class="text-dark">Acciones</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Modal_Create", new Terminal.WebUI.Models.CargosViewModel())
@Html.Partial("_Modal_Edit", new Terminal.WebUI.Models.CargosViewModel())
@Html.Partial("_Modal_Delete", new Terminal.WebUI.Models.CargosViewModel())
